.banner {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 860px;
  border-radius: 15px;
}

.text {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 30px;
  position: relative;
  bottom: 10px;
}

.category {
  font-weight: bold;
  position: relative;
}

.elements {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-weight: lighter;
  position: relative;
  bottom: 55px;
  font-size: 25px;
}


.green {
  background-color: #a0c35a;
}