.btn {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 150px;
  border-radius: 100px;
  background-color: transparent;
}

.btn-name {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: relative;
  bottom: 5px;
}

.--unselectable {
  opacity: 0.5;
  pointer-events: none;
}
