.word-btn {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: aliceblue;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    transition: background-color .12s ease-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: none;
}

.--active {
    background-color:rgb(130, 130, 130);
    color: white
}

